- content_for :head do
  %title Hire Festival and Event Staff In the UK
  %meta{ name: "description", content: "Find ushers, hostesses, setup and teardown crews and much more. We have a large pool of talented people ready to work. Call or contact us to get started."}
.public.industry.events
  = render :partial => 'v2/shared/nav'
  .content
    .content-inner
      .container-fluid.px-0
        .industry-header-bg
        .v2-industry-header.d-flex.align-items-center
          .container.formidable-section.px-0.position-relative
            .v2-industry-header-top.d-flex.position-relative
              %h1 Festival & Event
              %h1.position-relative.ml1
                %span Staffing
                .staffing-dot
            %p The range of events we have covered is near endless. Our reputation in the industry enables us to quickly engage any required number of staff and with the skillsets you need.
            .orange-btn.d-flex.align-items-center.justify-content-center.mt-30
              %a{ href: "/contact"}
                %button Request Info
            .industry-image
      .v2-industry-section-2.d-flex.justify-content-center.align-items-center
        .container.formidable-section.flex-wrap-at-ipad.px-0.d-flex.justify-content-between.align-items-center
          .d-flex.flex-column
            %h1 A formidable workforce,
            %h1.mt-05 come rain or shine
            %p.mt1 For the first 12 years of our existence, we took our thousands-strong talent pool across the UK every summer working major festivals and bespoke events. We grew as the industry evolved and steadily became one of the go-to festival staffing providers in the country, known for providing the complete event staff management package – never understaffed and with all logistics taken care of.
            %p.mt1 Today, the huge variety of events we now staff from 'boutique' to marathons has enabled us to build up an enviable database of people who are accustomed to the rigours of ever-changing weather, working long hours and camping if required. We can lock in many of these unflappable heroes months in advance – or often at the drop of a hat. When it comes to festivals and events, we give our clients a competitive edge – because making sure that their big day is fully staffed with the right people is our secret weapon.
          %ul.d-flex.moving-boxes-container.flex-wrap.justify-content-around
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center="Complete<br>bar teams".html_safe
              .type-desc.d-flex.flex-column
                %span Skilled pint pullers, servers,
                %span managers and more.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Box office & RFID support
              .type-desc.d-flex.flex-column
                %span Systems specialists
                %span working across different
                %span platforms.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Wrist banding & Entrance
              .type-desc.d-flex.flex-column
                %span Keen, attentive workers
                %span who work with efficiency
                %span and care.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Roadshows & promo
              .type-desc.d-flex.flex-column
                %span Engaging, energetic
                %span individuals to add the
                %span X Factor.
      .v2-industry-section-3.d-flex
        .container.px-0.d-flex.align-items-center
          .bg-industry-worker
          .industry-worker-content.d-flex.flex-column
            .d-flex.flex-inline.align-items-center
              .border-line
              .d-flex.flex-column.ml2
                %h1.d-flex.flex-inline
                  Workers
                  %span.ml1 who
                %h1 give a little extra
            %p.mt1 Flair has built some amazing relationships over the years with the people on our database. Mutual respect and understanding promotes loyalty and reliability among our workers and enables us to successfully deliver brilliant teams again and again.
      .container-fluid.px-0.v2-industry-section-4.d-flex
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No stress
          %span.mt-30 Our staff come fully-vetted
          %span and ready to work.
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No fuss
          %span.mt-30 Pre and post-contract admin
          %span and payroll handled by us.
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No surprises
          %span.mt-30 A cost-effective, bespoke staffing
          %span solution that works for you.
      .v2-industry-section-5.d-flex.justify-content-center.align-items-center
        .container.px-0.d-flex.justify-content-around
          .industry-about.d-flex.flex-column.mr1
            %h1.d-flex.flex-column
              Events & Festivals at
              %span Flair means.....
            %p.mt1 Pint pullers, crowd controllers, ticket stampers, stage dismantlers, party planners, cloakroom tenders, supervisors, stock shifters, merch sellers, recycling promoters, promo sharers and an army of late-night legends that only stop when the job’s done.
            %h3.mt1 Real people, real skills, real simple
            .d-flex.flex-inline.mt-05
              .orange-btn.d-flex.align-items-center.justify-content-center.mr1
                %a{ href: "/events?category=Events"}
                  %button View Jobs
              .orange-btn.d-flex.align-items-center.justify-content-center
                %a{ href: "/hire?redirect=#{Flair::Application.config.base_https_url}"}
                  %button Hire Staff
          .industry-about-bg.d-flex
      .v2-industry-section-6.d-flex.align-items-center
        .bg-overlay
        .container.px-0
          %h1 What our clients say:
          .testimonial.d-flex.flex-inline
            .quote
            %p
              Flair have been our main and preferred supplier of staff over many years. Often challenged with supplying hundreds of staff, supervisors, managers and promotional teams – sometimes at very short notice – the Flair team consistently deliver. The experienced and professional management team have never let us down, with exceptional communication pre-event followed through with excellent onsite logistical execution.
              %span.reversed
          .testimonial-owner.d-flex.flex-inline.justify-content-end
            %h2 Becky Howarth,
            %span.ml1 Director - The Bar Co
      .v2-industry-section-7.d-flex.align-items-start
        .container.px-0
          %h1 Companies who choose Flair
          .company-logos.d-flex.flex-inline.justify-content-around
            - ["massive.png", "loudsound.png", "kew.png", "thebarco.png", "friends.png", "underbelly.png", "virginsport.png","lhg.png", "pride.png"].each do |file|
              = image_tag "v2/industry/events/#{file}"
      .v2-industry-section-8.d-flex
        .container.px-0.d-flex.align-items-center
          .cs-image-content
            .d-flex.flex-column
              .cs-image
              .d-flex.flex-inline
                .cs-event-box.cs-event-counter.d-flex.flex-column.align-items-center.justify-content-center
                  %h1 2
                  %h3 Venues
                .cs-event-box.cs-staff-counter.d-flex.flex-column.align-items-center.justify-content-center
                  %h1 756
                  %h3 Staff
          .cs-content.d-flex.flex-column
            %h6 Case Study
            .d-flex.flex-inline.align-items-center
              .border-line
              .d-flex.flex-column.ml1
                %h5 V Festival Chelmsford & Weston Park
                %h3 Supplying the complete staffing solution.
            %p.mt2 Having previously staffed one V Festival several times, we knew handling both sites would be a monumental task. We jumped right in with diligent planning, recruiting and organising more than 750 bar staff, managers and supervisors. That’s 48 different bar teams, 12 shift patterns, nine coaches and five big local recruitment days. And all before smartphones!
            %p.mt1 Our well-polished process meant that for the next 10-years, both V sites had full bar teams that simply arrived and worked. Our unique 360-degree festival service operated flawlessly alongside our clients’ operations and we proved time and time again that we can be adaptable in any field.
            %a.mt1{href: v2_case_industry_path(industry: "events"), "data-turbolinks":"false"} READ MORE
      .container-fluid.v2-industry-section-9.d-flex
        .container.px-0.d-flex.align-items-start
          .d-flex.flex-column.mt6
            %h1 Flair provides a complete
            %h1.d-flex.flex-inline
              %span.mr1 festival & events staffing
              service.
            %br
            %h1.mt2 So, how can we help?
            .orange-btn.mt1.d-flex.align-items-center.justify-content-center
              %a{ href: '/contact'}
                %button Let's chat today
      .v2-home-bottom

  = render :partial => 'v2/application/footer'
