- content_for :head do
  %title Need Great Staff with Hospitality Experience?
  %meta{ name: "description", content: "We source and provide skilled, reliable temp staff across the UK who can help with all of your hospitality requirements – from bar managers to table staff and beyond."}
.public.industry.hospitality
  = render :partial => 'v2/shared/nav'
  .content
    .content-inner
      .container-fluid.px-0
        .industry-header-bg
        .v2-industry-header.d-flex.align-items-center
          .container.formidable-section.px-0.position-relative
            .v2-industry-header-top.d-flex.position-relative
              %h1 Hospitality
              %h1.position-relative.ml1
                %span Staffing
                .staffing-dot
            %p Customer service has always been a Flair strongpoint. We have a tireless work ethic that we pass down through our teams – so your guests will be in safe hands.
            .orange-btn.d-flex.align-items-center.justify-content-center.mt-30
              %a{ href: "/contact"}
                %button Request Info
            .industry-image
      .v2-industry-section-2.d-flex.justify-content-between.align-items-center
        .container.formidable-section.flex-wrap-at-ipad.px-0.d-flex.justify-content-between.align-items-center
          .d-flex.flex-column.mr1
            %h1 Warm, welcoming
            %h1.mt-05 workers ready to serve
            %p.mt1 Hospitality is part of the bedrock on which Flair is built – we have been providing key staff for events that require food, drink and excellent service since the very start. We work hard to deliver each and every hospitality engagement in a stylish and professional manner – from the original planning stages right through to the big day.
            %p.mt1 Our network includes an impressive array of event co-ordinators, front-line workers, cloakroom attendees and even parking valets – all primed and motivated to make sure that your function runs smoothly and leaves a positive, lasting impression. Our people have routinely impressed customers and clients alike at venues including Edgbaston and Principality and Wembley stadiums, be that public or corporate engagements, short notice or regular fixtures. With top-notch service skills, we also deliver to bespoke VIP functions from Virgin crew parties to repeat Ryder Cup bookings.
          %ul.d-flex.flex-wrap.moving-boxes-container.justify-content-between
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Corporate
              .type-desc.d-flex.flex-column
                %span Well-turned-out workers
                %span bringing sparkle to your
                %span event.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Stadiums
              .type-desc.d-flex.flex-column
                %span People with experience
                %span of crowds, from regular fixtures
                %span to one-off's.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Host & Receptionist
              .type-desc.d-flex.flex-column
                %span Brilliant, organised people
                %span handpicked for
                %span attention to details.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Events & Functions
              .type-desc.d-flex.flex-column
                %span People to match your every
                %span event - from formal to quirky.
      .v2-industry-section-3.d-flex
        .container.px-0.d-flex.align-items-center
          .bg-industry-worker
          .industry-worker-content.d-flex.flex-column
            .d-flex.flex-inline.align-items-center
              .border-line
              .d-flex.flex-column.ml2
                %h1.d-flex.flex-inline
                  Workers
                  %span.ml1 who
                %h1
                  %span give a little extra
            %p.mt1 Flair has built some amazing relationships over the years with the people on our database. Mutual respect and understanding promotes loyalty and reliability among our workers and enables us to successfully deliver brilliant teams again and again.
      .container-fluid.px-0.v2-industry-section-4.d-flex
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No stress
          %span.mt-30 Our staff come fully-vetted
          %span and ready to work.
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No fuss
          %span.mt-30 Pre and post-contract admin
          %span and payroll handled by us.
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No surprises
          %span.mt-30 A cost-effective, bespoke staffing
          %span solution that works for you.
      .v2-industry-section-5.d-flex.justify-content-center.align-items-center
        .container.px-0.d-flex.justify-content-around
          .industry-about.d-flex.flex-column.mr1
            %h1.d-flex.flex-column
              Hospitality at
              %span Flair means.....
            %p.mt1 Smiling greeters, breakfast servers, hosts to hostesses, champagne pourers, pint pullers, charming ushers, party planners, dapper dishers, cloakroom warriors and a whole supporting cast of seasoned events staff.
            %h3.mt1 Real people, real skills, real simple
            .d-flex.flex-inline.mt-05
              .orange-btn.d-flex.align-items-center.justify-content-center.mr1
                %a{ href: "/events?category=Hospitality"}
                  %button View Jobs
              .orange-btn.d-flex.align-items-center.justify-content-center
                %a{ href: "/hire?redirect=#{Flair::Application.config.base_https_url}"}
                  %button Hire Staff
          .industry-about-bg.d-flex
      .v2-industry-section-6.d-flex.align-items-center
        .bg-overlay
        .container.px-0
          %h1 What our clients say:
          .testimonial.d-flex.flex-inline
            .quote
            %p
              We have work with Flair for several years, and they have always delivered. The whole team are flexible and willing to work with the demanding changes in the events industry whilst always providing a second to none service throughout all our events up and down the whole of the UK.
              %span.reversed
          .testimonial-owner.d-flex.flex-inline.justify-content-end
            %h2 Bobby Nanua,
            %span.ml1 Director Derby Bars
      .v2-industry-section-7.d-flex.align-items-start
        .container.px-0
          %h1 Companies who choose Flair
          .company-logos.d-flex.flex-inline.justify-content-around
            - ["deltic.png", "mecco.png", "watermark.png", "shack.png", "parties.png", "nec.png", "gr.png"].each do |file|
              = image_tag "v2/industry/#{file}"
      .v2-industry-section-8.d-flex
        .container.px-0.d-flex.align-items-center
          .cs-image-content
            .d-flex.flex-column
              .cs-image
              .d-flex.flex-inline
                .cs-event-box.cs-event-counter.d-flex.flex-column.align-items-center.justify-content-center
                  %h1 29
                  %h3 Events
                .cs-event-box.cs-staff-counter.d-flex.flex-column.align-items-center.justify-content-center
                  %h1 338
                  %h3 Staff
          .cs-content.d-flex.flex-column
            %h6 Case Study
            .d-flex.flex-inline.align-items-center
              .border-line
              .d-flex.flex-column.ml1
                %h5 GIN & RUM FESTIVALS
                %h3 Supporting our client's new venture.
            %p.mt2 With an ambitious season ahead and 29 venues booked to host a Gin & Rum festival tour, our hospitality account manager relished the new challenge set by our client. We devised a clear set of roles and knew the different skill sets required from our UK-wide database. The recruits needed to be:
            %p.mt1 A / Focused fast learners who exuded professionalism
            %p.mt0 B / Capable of upselling products and able to talk confidently with event-goers
            %p.mt1 Our client consistently puts their trust in Flair and likes our “low maintenance approach”. Briefed once, we plan, deliver and manage their teams.
            %a.mt1{href: v2_case_industry_path(industry: "hospitality"), "data-turbolinks":"false"} READ MORE
      .container-fluid.v2-industry-section-9.d-flex
        .container.px-0.d-flex.align-items-start
          .d-flex.flex-column.mt6
            %h1 Flair provides a complete
            %h1.d-flex.flex-inline
              %span.mr1 hospitality
              staffing service.
            %br
            %h1.mt2 So, how can we help?
            .orange-btn.mt1.d-flex.align-items-center.justify-content-center
              %a{ href: '/contact'}
                %button Let's chat today
      .v2-home-bottom

  = render :partial => 'v2/application/footer'
