- content_for :head do
  %title Find Temporary Industrial and logistics Workers In the UK
  %meta{ name: "description", content: "On-demand staff for warehouses, manufacturing, production and other industrial roles. Focus on your business, let Flair take care of staffing, scheduling and paying temp workers." }
.public.industry.logistics
  = render :partial => 'v2/shared/nav'
  .content
    .content-inner
      .container-fluid.position-relative.px-0.d-flex
        .industry-header-bg
        .v2-industry-header.d-flex.align-items-center
          .container.px-0
            .v2-industry-header-top.d-flex.position-relative
              %h1 Logistics
              %h1.position-relative.ml1
                %span Staffing
                .staffing-dot
            %p Every team needs a blend of intelligent ‘thinkers’ and hard-working 'doers’ – the beauty is in selecting exactly the right mix. That’s where we come in...
            .orange-btn.d-flex.align-items-center.justify-content-center.mt-30
              %a{ href: "/contact"}
                %button Request Info
            .industry-image
      .container-fluid.position-relative.px-0
        .v2-industry-section-1.d-flex.align-items-center
          .container.px-0.d-flex.flex-column
            %h1 A flexible workforce
            %h1.mt1 when you need it
            %p.mt1 Working with our clients, we develop staffing solutions that are both scalable and easily integrated into an existing workforce. In fact, our forte is finding a logical pathway which will enable our clients to get the most out of their whole team.
            %p.mt1 We zoom in on the right kind of talent – and then bring them in. If a project needs the detailed co-ordination of people and services, it will push all the right buttons at Flair.
            %p.mt1 Whether you’re seeking an army of packers, a warehouse crew to fill in for absentees or a handful of highly-skilled venue supervisors to work a number of pop-up facilities, we can help.
      .v2-industry-section-2.d-flex.justify-content-center.align-items-center
        .container.px-0.d-flex.align-items-center.justify-content-center
          %ul.d-flex.moving-boxes-container
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Covid Support
              .type-desc.d-flex.flex-column
                %span Screened, thorough,
                %span reliable workers.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Warehouse
              .type-desc.d-flex.flex-column
                %span Experienced movers & lifters.
                %span A skilled, task-orientated
                %span workforce.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Event Crew
              .type-desc.d-flex.flex-column
                %span Flexible, proactive team
                %span players ready to move,
                %span mountains.
            %li.d-flex.justify-content-center
              .type-image
              .light-overlay
              .circular
              .flat-overlay
              %a.d-flex.align-items-center.justify-content-center Supply Chain
              .type-desc.d-flex.flex-column
                %span Fast learners, team players,
                %span minimal fuss.
      .v2-industry-section-3.d-flex
        .container.px-0.d-flex.align-items-center
          .bg-industry-worker
          .industry-worker-content.d-flex.flex-column
            .d-flex.flex-inline.align-items-center
              .border-line
              .d-flex.flex-column.ml2
                %h1.d-flex.flex-inline
                  Workers
                  %span.ml1 who
                %h1
                  %span give a little extra
            %p.mt1 Flair has built some amazing relationships over the years with the people on our database. Mutual respect and understanding promotes loyalty and reliability among our workers and enables us to successfully deliver brilliant teams again and again.
      .container-fluid.px-0.v2-industry-section-4.d-flex
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No stress
          %span.mt-30 Our staff come fully-vetted
          %span and ready to work.
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No fuss
          %span.mt-30 Pre and post-contract admin
          %span and payroll handled by us.
        .box.d-flex.flex-column.justify-content-center.align-items-center
          %h1 No surprises
          %span.mt-30 A cost-effective, bespoke staffing
          %span solution that works for you.
      .v2-industry-section-5.d-flex.justify-content-center.align-items-center
        .container.px-0.d-flex.justify-content-around
          .industry-about.d-flex.flex-column.mr1
            %h1.d-flex.flex-column
              Logistics at
              %span Flair means.....
            %p.mt1 Warehouse wonders, fast-handed packers, storage supremos, heavy lifters, loading masters, data processors, crowd handlers, COVID responders, storage maestros, supply chain legends and seasoned all-rounders that get the job done.
            %h3.mt1 Real people, real skills, real simple
            .d-flex.flex-inline.mt-05
              .orange-btn.d-flex.align-items-center.justify-content-center.mr1
                %a{ href: "/events?category=Logistics"}
                  %button View Jobs
              .orange-btn.d-flex.align-items-center.justify-content-center
                %a{ href: "/hire?redirect=#{Flair::Application.config.base_https_url}"}
                  %button Hire Staff
          .industry-about-bg.d-flex
      .v2-industry-section-6.d-flex.align-items-center
        .bg-overlay
        .container.px-0
          %h1 What our clients say:
          .testimonial.d-flex.flex-inline
            .quote
            %p
              Flair really came through for us. Short notice, we needed 50 people to come and clean cars at Goodwood Revival – yes, it was promotional work, but it was also cleaning cars for three days!” As we had never managed event teams, we relied on Flair to provide everything from accommodation to travel and dealing with all shift planning and admin. I thoroughly enjoyed working with their management team and would definitely recommend them.
              %span.reversed
          .testimonial-owner.d-flex.flex-inline.justify-content-end
            %h2 Mike Gunner,
            %span.ml1 Cleaner Car Limited
      .v2-industry-section-7.d-flex.align-items-start
        .container.px-0
          %h1 Companies who choose Flair
          .company-logos.d-flex.flex-inline.justify-content-around
            - ["intercruises.png", "hackney.png", "massive.png", "mitie.png", "goodwood.png", "glasgow.png", "imperial.png", "hublogistics.png"].each do |file|
              = image_tag "v2/industry/logistics/#{file}"
      .v2-industry-section-8.d-flex
        .container.px-0.d-flex.align-items-center
          .cs-image-content
            .d-flex.flex-column
              .cs-image
              .d-flex.flex-inline
                .cs-event-box.cs-event-counter.d-flex.flex-column.align-items-center.justify-content-center
                  %h1 6
                  %h3 Venues
                .cs-event-box.cs-staff-counter.d-flex.flex-column.align-items-center.justify-content-center
                  %h1.d-flex.flex-inline.align-items-baseline
                    30
                    %span hrs
                  %h3 Notice
          .cs-content.d-flex.flex-column
            %h6 Case Study
            .d-flex.flex-inline.align-items-center
              .border-line
              .d-flex.flex-column.ml1
                %h5 COVID-19 TEST CENTRE
                %h3 Delivering teams in 30 hours.
            %p.mt2 Mid-pandemic, we fielded a last-minute request to staff six London testing centres opening in a matter of days. To add more urgency to the brief, all staff had to provide valid DBS checks, and be able to work 12-hour shifts in strict cohort bubbles. They also needed to rapidly pass six NHS training modules. Turning instantly to our diverse database, we reached out to skilled and reliable candidates living no more than five miles of each centre. Within the deadline, the first test sites were opened and fully staffed.
            %p.mt2 The next phase of the planning involved daily workforce management as the ‘four-on, four off’ rotation settled in. Our scheduling app proved invaluable in enabling us to support all of the workers – and the client – every step of the way.
            %a.mt1{href: v2_case_industry_path(industry: "logistics"), "data-turbolinks":"false"} READ MORE
      .container-fluid.px-0.v2-industry-section-9.d-flex
        .container.px-0.d-flex.align-items-start
          .d-flex.flex-column.mt6
            %h1 Flair provides a complete
            %h1.d-flex.flex-inline
              %span.mr1 logistics
              staffing service.
            %br
            %h1.mt2 So, how can we help?
            .orange-btn.mt1.d-flex.align-items-center.justify-content-center
              %a{ href: "/contact"}
                %button Let's chat today
      .v2-home-bottom
  = render :partial => 'v2/application/footer'
