<div class="v2-profile-identification-id-type">I.D Upload Type</div>

<div class="d-flex flex-row bd-highlight uk_id_type-checkboxes" style='margin-bottom:21px;'>
  <div class="form-check v2-application-checkbox">
    <%= check_box_tag 'uk_id_type', 'UK Passport', (@prospect.id_type != 'BC+NI'), {onchange: "v2_uk_id_type_changed();", class: 'form-check-input v2-profile-identification-checkbox', id: 'v2-profile-identification-checkbox-1'} %>
    <%= label_tag :passport, 'Passport', class: 'form-check-label v2-profile-identification-checkbox-label', for: 'v2-profile-identification-checkbox-1' %>
  </div>

  <div class="form-check v2-application-checkbox" style='margin-left: 73px;width: 100%;'>
    <%= check_box_tag 'uk_id_type', 'BC+NI', (@prospect.id_type == 'BC+NI'), {onchange: "v2_uk_id_type_changed();", class: 'form-check-input v2-profile-identification-checkbox', style: 'margin-left: 69px;', id: 'v2-profile-identification-checkbox-2'} %>
    <%= label_tag :birth_certificate, 'Full Birth Certificate, NI Evidence, and Photo Evidence', class: 'form-check-label v2-profile-identification-checkbox-label', for: 'v2-profile-identification-checkbox-2' %>
  </div>
</div>

<div class="uk_id_upload_form">
  <%= render partial: (@prospect.id_type == 'BC+NI' ? 'profile_upload_id_uk_birth_certificate' : 'profile_upload_id_uk_passport') %>
</div>
