<form class="fl-training">
  <div class="fl-training__step">
    <div class="article">
      <h3>Working Ethics</h3>
      <div class="float-right">
        <%= image_tag 'training-million-dollar.png' %>
      </div>
      <p style="font-size: 1.25em">Ethics are moral principles that govern a person or group’s behaviour. Working ethics can therefore be described as the values a person places on the right approach, attitude and diligence to do a good job.
      </p>
      <p style="font-size: 1.25em">What kind of value and energy do you place in the jobs you undertake, from your long term career aspirations to casual or temporary work? Should there be a difference in your motivation?</p>
      <p style="font-size: 1.25em">This module is not a test, but all about you and the importance you place in the jobs you commit too.</p>
    </div>
  </div>
  <div id="training_ethics_q1" class="fl-training__step">
    <div class="fl-counter fl-counter--pull-left">
      <div class="fl-counter__current">1</div>
      <div class="fl-counter__total">of 12</div>
    </div>
    <h5 class="h5">Thinking specifically about part time or casual work. Select the attributes from the list below that you believe you possess.</h5>
    <ul class="list-unstyled list-spaced three-columns">
      <li>
        <div class="fl-form__checkbox">
          <input name="Adaptable" type="hidden" value="false">
          <input type="checkbox" name="Adaptable" id="Adaptable" value="true">
          <label for="Adaptable">Adaptable</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Ambitious" type="hidden" value="false">
          <input type="checkbox" name="Ambitious" id="Ambitious" value="true">
          <label for="Ambitious">Ambitious</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Committed" type="hidden" value="false">
          <input type="checkbox" name="Committed" id="Committed" value="true">
          <label for="Committed">Committed</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Communicative" type="hidden" value="false">
          <input type="checkbox" name="Communicative" id="Communicative" value="true">
          <label for="Communicative">Communicative</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Cheerful" type="hidden" value="false">
          <input type="checkbox" name="Cheerful" id="Cheerful" value="true">
          <label for="Cheerful">Cheerful</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Dependable" type="hidden" value="false">
          <input type="checkbox" name="Dependable" id="Dependable" value="true">
          <label for="Dependable">Dependable</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Determined" type="hidden" value="false">
          <input type="checkbox" name="Determined" id="Determined" value="true">
          <label for="Determined">Determined</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Diligent" type="hidden" value="false">
          <input type="checkbox" name="Diligent" id="Diligent" value="true">
          <label for="Diligent">Diligent</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Disciplined" type="hidden" value="false">
          <input type="checkbox" name="Disciplined" id="Disciplined" value="true">
          <label for="Disciplined">Disciplined</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Enterprising" type="hidden" value="false">
          <input type="checkbox" name="Enterprising" id="Enterprising" value="true">
          <label for="Enterprising">Enterprising</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Enthusiastic" type="hidden" value="false">
          <input type="checkbox" name="Enthusiastic" id="Enthusiastic" value="true">
          <label for="Enthusiastic">Enthusiastic</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Flexible" type="hidden" value="false">
          <input type="checkbox" name="Flexible" id="Flexible" value="true">
          <label for="Flexible">Flexible</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Focused" type="hidden" value="false">
          <input type="checkbox" name="Focused" id="Focused" value="true">
          <label for="Focused">Focused</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Hard_worker" type="hidden" value="false">
          <input type="checkbox" name="Hard_worker" id="Hard_worker" value="true">
          <label for="Hard_worker">Hard worker</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Honest" type="hidden" value="false">
          <input type="checkbox" name="Honest" id="Honest" value="true">
          <label for="Honest">Honest</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Loyal" type="hidden" value="false">
          <input type="checkbox" name="Loyal" id="Loyal" value="true">
          <label for="Loyal">Loyal</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Optimistic" type="hidden" value="false">
          <input type="checkbox" name="Optimistic" id="Optimistic" value="true">
          <label for="Optimistic">Optimistic</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Motivated" type="hidden" value="false">
          <input type="checkbox" name="Motivated" id="Motivated" value="true">
          <label for="Motivated">Motivated</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Practical" type="hidden" value="false">
          <input type="checkbox" name="Practical" id="Practical" value="true">
          <label for="Practical">Practical</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Proactive" type="hidden" value="false">
          <input type="checkbox" name="Proactive" id="Proactive" value="true">
          <label for="Proactive">Proactive</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Productive" type="hidden" value="false">
          <input type="checkbox" name="Productive" id="Productive" value="true">
          <label for="Productive">Productive</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Professional" type="hidden" value="false">
          <input type="checkbox" name="Professional" id="Professional" value="true">
          <label for="Professional">Professional</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Produces_quality_work" type="hidden" value="false">
          <input type="checkbox" name="Produces_quality_work" id="Produces_quality_work" value="true">
          <label for="Produces_quality_work">Produces quality work</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Respectful" type="hidden" value="false">
          <input type="checkbox" name="Respectful" id="Respectful" value="true">
          <label for="Respectful">Respectful</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Responsible" type="hidden" value="false">
          <input type="checkbox" name="Responsible" id="Responsible" value="true">
          <label for="Responsible">Responsible</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Results_driven" type="hidden" value="false">
          <input type="checkbox" name="Results_driven" id="Results_driven" value="true">
          <label for="Results_driven">Results-driven</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Skilled" type="hidden" value="false">
          <input type="checkbox" name="Skilled" id="Skilled" value="true">
          <label for="Skilled">Skilled</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Time_keeper" type="hidden" value="false">
          <input type="checkbox" name="Time_keeper" id="Time_keeper" value="true">
          <label for="Time_keeper">Time keeper</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Team_player" type="hidden" value="false">
          <input type="checkbox" name="Team_player" id="Team_player" value="true">
          <label for="Team_player">Team player</label>
        </div>
      </li>
      <li>
        <div class="fl-form__checkbox">
          <input name="Trustworthy" type="hidden" value="false">
          <input type="checkbox" name="Trustworthy" id="Trustworthy" value="true">
          <label for="Trustworthy">Trustworthy</label>
        </div>
      </li>
    </ul>
    <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="professionalAttributes" data-flair-training-condition="4">
      You have not given yourself much credit in what you can offer an employer. Could you think of any other attitudes you could offer?
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="professionalAttributes" data-flair-training-condition="11">
      You have a good level of attributes to offer an employer. Think about the others, what do they mean to you and by adopting others would this give you a competitive edge over other workers?
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="professionalAttributes" data-flair-training-condition="21">
      You have a great level of attributes to offer an employer. Think about the others, what do they mean to you and by adopting others would this give you a competitive edge over other workers?
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="professionalAttributes" data-flair-training-condition="30">
      Amazing! You seem to hold the majority of attributes many employers seek in their top level employees. By demonstrating quality working ethics I am sure you will have a successful career.
    </div>
  </div>
  <div class="fl-training__step">
    <div class="fl-counter fl-counter--pull-left">
      <div class="fl-counter__current">2</div>
      <div class="fl-counter__total">of 12</div>
    </div>
    <h5 class="h5">What are the reasons you work?&nbsp;<br>Consider all types of work environments, from permanent to casual, and re-arrange the below to reflect <u>your</u> priorities (highest on top, lowest on the bottom)</h5>
    <div class="row">
      <!-- <div class="column small-12 medium-8 large-6"> -->
      <ol id="ethics-priority-1" class="fl-priority">
        <li data-value='1'><span>Money</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Sense of purpose</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='1'><span>Career aspirations</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>New experience</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='1'><span>Social reasons</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Personal challenge</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Enjoyment</span><i class="glyphicon glyphicon-sort"></i></li>
      </ol>
      <script>
      /*
        Sortable.create(document.getElementById("ethics-priority-1"),{
          animation:400,
          group:"priority",
          ghostClass: 'ghost',
          onUpdate: function(evt) {
            console.log("Updated list");
            $(evt.item).addClass("moved");
          }
        });
      */
      </script>
      <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="checkPriorityScore" data-flair-training-eval-arg="3" data-flair-training-eval-arg-2="1" data-flair-training-condition="true">
        <p>Thank you for your response.</p>
        <p>A new survey commissioned by the British Psychological Society looking into the reasons people continue to work for an employer. Interestingly the top answers were based around personal enjoyment and suitability around other areas in their lives, over financial reward.</p>
      </div>
    </div>
<!--
      <div class="column small-12">
        <table class="table expand-small">
          <tbody>
            <tr class="head-row">
              <th>For...</th>
              <th>Importance</th>
            </tr>
            <tr>
              <td>
                <p class="h5">Money</p>
              </td>
              <td>
                <select required class="form-control" id="reason-money" name="reason[money]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p class="h5">Sense of purpose</p>
              </td>
              <td>
                <select required class="form-control" id="reason-purpose" name="reason[purpose]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p class="h5">Career aspirations</p>
              </td>
              <td>
                <select required class="form-control" id="reason-career" name="reason[career]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p class="h5">New experience</p>
              </td>
              <td>
                <select required class="form-control" id="reason-experience" name="reason[experience]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p class="h5">Social reasons</p>
              </td>
              <td>
                <select required class="form-control" id="reason-money" name="reason[money]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p class="h5">Personal challenge</p>
              </td>
              <td>
                <select required class="form-control" id="reason-challenge" name="reason[challenge]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <p class="h5">Enjoyment</p>
              </td>
              <td>
                <select required class="form-control" id="reason-enjoyment" name="reason[enjoyment]">
                  <option selected="selected"></option>
                  <option value="5">Very Important</option>
                  <option value="4">Important</option>
                  <option value="3">Would consider</option>
                  <option value="2">Not important</option>
                  <option value="1">Not considered</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="fl-training__notice fl-training__notice--correct">
      <p>Thank you for your response.</p>
      <p>A new survey commissioned by the British Psychological Society looking into the reasons people continue to work for an employer. Interestingly the top answers were based around personal enjoyment and suitability around other areas in their lives, over financial reward.</p>
    </div>
-->
  </div>
  <div class="fl-training__step">
    <div class="fl-counter fl-counter--pull-left">
      <div class="fl-counter__current">3</div>
      <div class="fl-counter__total">of 12</div>
    </div>
    <h5 class="h5">Prioritize what would motivate you to ‘go the extra mile’ in any job position you commit to.&nbsp;<br>Put strongest motivations on top, and less significant motivations at the bottom.</h5>
    <div class="row">
      <!-- <div class="small-12 medium-8 large-6 column"> -->
      <!-- taken from https://www.psychologytoday.com/blog/mind-the-manager/201412/what-motivates-employees-go-the-extra-mile -->
      <ol id="ethics-motivation-1" class="fl-priority">
        <li data-value='1'><span>Belief in the product</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Camaraderie &amp; friendship</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='2'><span>Growing professionally</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='1'><span>Positive Management</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Feeling valued</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Internal drive</span><i class="glyphicon glyphicon-sort"></i></li>
<!--
        <li data-value='1'><span>Money (focused on receiving a pay rise/bonus)</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Sense of worth and pride</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='2'><span>Future career potential</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Personal development</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='2'><span>Support my team/colleagues</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Physical challenge</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Mental challenge</span><i class="glyphicon glyphicon-sort"></i></li>
        <li data-value='3'><span>Enjoyment of the job</span><i class="glyphicon glyphicon-sort"></i></li>
-->
      </ol>
      <script>
      /*
        Sortable.create(document.getElementById("ethics-motivation-1"),{
          animation:400,
          group:"motivation",
          ghostClass: 'ghost'
        });
      */
      </script>
      <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="checkPriorityScore" data-flair-training-eval-arg="4" data-flair-training-eval-arg-2="1" data-flair-training-condition="true">
        <p>It has been found that personal attitude and feelings toward a work environment lead to more fullfulled employees. Strive to cultivate motivations that go beyond financial compensation.</p>
      </div>
<!--
      <div class="small-12 column">
        <table class="table expand-small">
          <tbody>
            <tr class="head-row">
              <th>For the...</th>
              <th>Importance</th>
            </tr>
            <tr>
              <td>Money (focued on receiving a pay rise/bonus)</td>
              <td>
                <select required class="form-control" id="motive-money" name="motive[money]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Enjoyment of the job</td>
              <td>
                <select required class="form-control" id="motive-enjoyment" name="motive[enjoyment]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Future career potential</td>
              <td>
                <select required class="form-control" id="motive-career" name="motive[career]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Sense of worth and pride</td>
              <td>
                <select required class="form-control" id="motive-worth" name="motive[worth]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Physical challenge</td>
              <td>
                <select required class="form-control" id="motive-physical-challenge" name="motive[physical-challenge]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Mental challenge</td>
              <td>
                <select required class="form-control" id="motive-mental-challenge" name="motive[mental-challenge]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Support my team/colleagues</td>
              <td>
                <select required class="form-control" id="motive-support" name="motive[support]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>Personal development</td>
              <td>
                <select required class="form-control" id="motive-personal-development" name="motive[personal-development]">
                  <option selected="selected"></option>
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
-->
    </div>
<!--
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="averageFormSelectValues" data-flair-training-condition="5">
      You are highly motivated in all aspects and have a clear understanding of what is important to you.
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="averageFormSelectValues" data-flair-training-condition="4">
      You know what is imortant and what motivates you and have the ability to prioritise the key factors.
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="averageFormSelectValues" data-flair-training-condition="3">
      You feel ambivalent towards your own goals. It is important to know and understand what motivates you and the reasons why.
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="averageFormSelectValues" data-flair-training-condition="2">
      You don’t consider many of the options to be particularly motivational. Think about if there are other apects that aren’t stated above which would promote a positive working ethic within you.
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="averageFormSelectValues" data-flair-training-condition="1">
      What is important to you? What is it that makes you strive and motivate you to be the best you can be? Think about what you want to gain from your time working with Flair.
    </div>
-->
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Inspiration vs. Motivation</h3>
      <p>Social media is full of catchphrases, speeches and feel-good statements. Love or loath them, do they help to inspire, motivate and inject a touch of reality into today’s fast pace world?</p>
      <ul class="photo-strip h100">
        <li class="image">
          <%= image_tag 'training-motivate-1.png', alt:'Training motivate 1' %>
        </li>
        <li class="image">
          <%= image_tag 'training-motivate-3.png', alt:'Training motivate 3' %>
        </li>
        <li class="image">
          <%= image_tag 'training-motivate-4.png', alt:'Training motivate 6' %>
        </li>
        <li class="image">
          <%= image_tag 'training-motivate-8.png', alt:'Training motivate 8' %>
        </li>
        <li class="image">
          <%= image_tag 'training-motivate-9.png', alt:'Training motivate 9' %>
        </li>
        <li class="image">
          <%= image_tag 'training-motivate-10.png',  alt:'Training motivate 10' %>
        </li>
      </ul>
      <div class="pb1"></div>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">4</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>How do you personally feel about the types of saying above? Do they mean anything to you?</h5>
      <ul class="list-unstyled two-columns">
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="inspiration" value="1" id="inspiration-1">
            <label for="inspiration-1">Some are inspiring</label>
          </div>
        </li>
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="inspiration" value="2" id="inspiration-2">
            <label for="inspiration-2">I find them motivating</label>
          </div>
        </li>
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="inspiration" value="3" id="inspiration-3">
            <label for="inspiration-3">Most are hypercritical</label>
          </div>
        </li>
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="inspiration" value="4" id="inspiration-4">
            <label for="inspiration-4">They mean nothing</label>
          </div>
        </li>
      </ul>

    </div>
    <div class="fl-training__notice fl-training__notice--correct">
      Love them or loath them, they are everywhere we look especially on social media.
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Integrity</h3>
      <p>Integrity reaches into all aspects of an employee's job. It’s central to the choices we all make to uphold good morals and high standards. By being dependable and someone whose actions will get results, a trustworthy worker
        benefits all colleagues and employers.</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">5</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>Below are some examples of integrity. Rate how important they are to you in your work.&nbsp;<br>Position the most important at the top and the least important at the bottom.</h5>
      <div class="row">
        <ol id="ethics-integrity-1" class="fl-priority">
          <li data-value='1'><span>Doing what you say you are going to do</span><i class="glyphicon glyphicon-sort"></i></li>
          <li data-value='1'><span>Showing up on time, every time</span><i class="glyphicon glyphicon-sort"></i></li>
          <li data-value='3'><span>Remaining professional at all times</span><i class="glyphicon glyphicon-sort"></i></li>
          <li data-value='2'><span>Respecting co-workers</span><i class="glyphicon glyphicon-sort"></i></li>
          <li data-value='2'><span>Following company policies</span><i class="glyphicon glyphicon-sort"></i></li>
          <li data-value='1'><span>Being honest</span><i class="glyphicon glyphicon-sort"></i></li>
          <li data-value='3'><span>Being trustworthy</span><i class="glyphicon glyphicon-sort"></i></li>
        </ol>
        <script>
        /*
          Sortable.create(document.getElementById("ethics-integrity-1"),{
            animation:400,
            group:"integrity",
            ghostClass: 'ghost'
          });
        */
        </script>
        <div class="fl-training__notice fl-training__notice--correct" style="width: 100%" data-flair-training-eval-function="checkPriorityScore" data-flair-training-eval-arg="7" data-flair-training-eval-arg-2="1" data-flair-training-condition="true">
          <p>These are more internal thinking questions about you and for you.</p>
        </div>

        <!-- <div class="small-12 medium-10 large-8 column"> -->
        <!--
        <div class="small-12 column">
          <table class="table expand-small">
            <tbody>
              <tr>
                <td>
                  Doing what you say you are going to do
                </td>
                <td>
                  <select required class="form-control" id="integrity-reliability" name="integrity[reliability]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Showing up on time, every time
                </td>
                <td>
                  <select required class="form-control" id="integrity-show" name="integrity[show]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Remaining professional at all times
                </td>
                <td>
                  <select required class="form-control" id="integrity-professional" name="integrity[professional]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Respecting co-workers
                </td>
                <td>
                  <select required class="form-control" id="integrity-respect" name="integrity[respect]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Following company policies
                </td>
                <td>
                  <select required class="form-control" id="integrity-policies" name="integrity[policies]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Being honest
                </td>
                <td>
                  <select required class="form-control" id="integrity-honest" name="integrity[honest]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>
                  Being trustworthy
                </td>
                <td>
                  <select required class="form-control" id="integrity-trustworthy" name="integrity[trustworthy]">
                    <option selected="selected"></option>
                    <option value="5">Very Important</option>
                    <option value="4">Important</option>
                    <option value="3">Would consider</option>
                    <option value="2">Not important</option>
                    <option value="1">Not considered</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        -->
      </div>
    </div>
    <!--
    <div class="fl-training__notice fl-training__notice--correct">
      These are more internal thinking question about you and for you.
    </div>
    -->
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Sense of Responsibility</h3>
      <p>On accepting any job position a worker is also accepting the responsibilities that come with that job. Frontline customer service places a lot of accountability on workers, as every interaction can influence customers’ enjoyment
        or perception of a brand or event.</p>
      <p>We are all accountable for our own actions both morally and legally in the work place. Giving incorrect information, walking away from danger or not helping a colleague are all examples of poor working ethics and the ‘not my
        problem’ culture.</p>
    </div>
    <div class="fl-counter fl-counter--pull-left">
      <div class="fl-counter__current">6</div>
      <div class="fl-counter__total">of 12</div>
    </div>
    <h5 class="h5">Fit the correct action to the accountability heading, by moving the green panels.</h5>
    <div class="fl-match fl-match--with-hints">
      <ul class="fl-match__targets">
        <li class="fl-match__target">
          <div class="fl-match__target__title" data-flair-training-match="1">Customer Service</div>
          <ul class="fl-match__target__container">
            <li class="fl-match__source" data-flair-training-match="2">Walking away from spilled liquid</li>
          </ul>
        </li>
        <li class="fl-match__target">
          <div class="fl-match__target__title" data-flair-training-match="3">Honesty</div>
          <ul class="fl-match__target__container">
            <li class="fl-match__source" data-flair-training-match="4">Serving alcohol to a minor</li>
          </ul>
        </li>
        <li class="fl-match__target">
          <div class="fl-match__target__title" data-flair-training-match="2">Health &amp; Safety</div>
          <ul class="fl-match__target__container">
            <li class="fl-match__source" data-flair-training-match="5">Directing a lone female to a taxi rank late at night</li>
          </ul>
        </li>
        <li class="fl-match__target">
          <div class="fl-match__target__title" data-flair-training-match="5">Duty of Care</div>
          <ul class="fl-match__target__container">
            <li class="fl-match__source" data-flair-training-match="3">Correct till usage</li>
          </ul>
        </li>
        <li class="fl-match__target">
          <div class="fl-match__target__title" data-flair-training-match="4">Legal</div>
          <ul class="fl-match__target__container">
            <li class="fl-match__source" data-flair-training-match="1">Serving with a bad temper</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="checkMismatch" data-flair-training-condition="true">Hmmm... some answers seem to be off.
    </div>
    <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="checkMismatch" data-flair-training-condition="false">All correct!
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Emphasis on Quality</h3>
      <p>Judging the quality of a person’s work could be based on many factors including skills, professionalism, hard work and team involvement. Performing the bare minimum, just enough to keep a job, surely results in a dull day of
        clock watching?
      </p>
      <p>As in all areas of life, you will get out of something what you put in, our working life is no different.</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">7</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>When thinking about the quality of your work which sentence best describes you?</h5>
      <ul class="list-unstyled">
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="quality" value="a" id="quality-a">
            <label for="quality-a">I’m a perfectionist through and through. I will repeat a task again and again until I am happy with it.</label>
          </div>
        </li>
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="quality" value="b" id="quality-b">
            <label for="quality-b">I always do the best I can in the time I have to do it.</label>
          </div>
        </li>
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="quality" value="c" id="quality-c">
            <label for="quality-c">It completely depends on what else is happening in my life. If I’m happy then I’ll put more effort into the quality of my work, if I’m fed up, I don’t care so much.</label>
          </div>
        </li>
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="quality" value="d" id="quality-d">
            <label for="quality-d">As long as the job gets done and I’m out of the door at home time, does it matter?</label>
          </div>
        </li>
      </ul>
      <div class="text-center">
        <%= image_tag 'training-motivate-6.png', alt:'Training quality' %>
      </div>
      <div class="fl-training__notice fl-training__notice--correct">Its a competitive job market so you need to do something to stand out from the crowd. Quality work really does shine through.</div>
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Effort</h3>
      <p>Sloppy work not only damages a person’s career, but can impact negatively on an entire team affecting morale, goals, objectives and productivity.</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">8</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>Consider the statements below and how they reflect in your working efforts when involved in casual part time work positions.&nbsp;<br>For each statement indicate whether you agree (&nbsp;<i class="glyphicon glyphicon-thumbs-up fc-black"></i>&nbsp;) or disagree (&nbsp;<i class="glyphicon glyphicon-thumbs-down fc-black"></i>&nbsp;).</h5>
    </div>
    <div class="fl-training__table">
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>I am not bothered about the effort I make. I’m going to get paid anyway.</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="1" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="effort" value="1" id="effort-1">
              <label for="effort-1">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="1" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>I will give it my all as long as someone is watching me.</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="2" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="effort" value="2" id="effort-2">
              <label for="effort-2">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="2" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>I will try to work hard even if I am not enjoying myself.</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="3" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="effort" value="3" id="effort-3">
              <label for="effort-3">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="3" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>I will give everything and give it my best efforts. I want to be the best.</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="4" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="effort" value="4" id="effort-4">
              <label for="effort-4">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="4" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>I will seek the information if the task isn’t explained properly.</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="5" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="effort" value="5" id="effort-5">
              <label for="effort-5">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="5" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>I will only do the bare minimum if I am feeling disgruntled.</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="6" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="effort" value="6" id="effort-6">
              <label for="effort-6">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="6" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--
      <table class="table">
        <tbody>
          <tr>
            <td>

            </td>
            <td>
              <select required class="form-control" id="effort-not-bothered" name="effort[not-bothered]">
                <option selected="selected"></option>
                <option value="3">Always</option>
                <option value="2">Sometimes</option>
                <option value="1">Never</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <select required class="form-control" id="effort-give-it-all" name="effort[give-it-all]">
                <option selected="selected"></option>
                <option value="3">Always</option>
                <option value="2">Sometimes</option>
                <option value="1">Never</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <select required class="form-control" id="effort-if-enjoy" name="effort[if-enjoy]">
                <option selected="selected"></option>
                <option value="3">Always</option>
                <option value="2">Sometimes</option>
                <option value="1">Never</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <select required class="form-control" id="effort-best" name="effort[best]">
                <option selected="selected"></option>
                <option value="3">Always</option>
                <option value="2">Sometimes</option>
                <option value="1">Never</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <select required class="form-control" id="information" name="effort[information]">
                <option selected="selected"></option>
                <option value="3">Always</option>
                <option value="2">Sometimes</option>
                <option value="1">Never</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>

            </td>
            <td>
              <select required class="form-control" id="disgruntled" name="effort[disgruntled]">
                <option selected="selected"></option>
                <option value="3">Always</option>
                <option value="2">Sometimes</option>
                <option value="1">Never</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      -->
    </div>
    <div class="fl-training__notice fl-training__notice--correct">
      Thank you for your response. These are more internal thinking questions about you and for you. In any case, you will likely find greater enjoyment in your work if your motivation stems from a desire to do your best - whatever the circumstances.
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Adaptability</h3>
      <p>By their very nature, temporary events require workers to be open minded and have a flexible approach. Events bring together a huge array of people and companies all required to slot into place within a short period of time.
        When things go wrong in one area this inevitably has a knock on effect on other aspects of the event field. Therefore, good managers are always looking out for changes that can be made for a positive outcome.</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">9</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>You are asked to move away from working next to a friend to an alternative workstation due to crowd demands. Indicate an appropriate way to deal with this from the choices below.</h5>
    </div>
    <div class="row">
      <div class="column small-6 large-3 pt2">
        <div class="media-with-caption">
          <p>Why should I?</p>
          <div class="aspect aspect--4-3">
            <%= image_tag 'training-adapt-no.png', class:'media-with-caption__media', alt:'Training adapt no' %>
          </div>
          <div class="media-with-caption__body pt1">
            <div class="fl-form__radio inline-block pr1">
              <input type="radio" required name="adapt[no]" value="yes" id="adapt-no-yes">
              <label for="adapt-no-yes">Yes</label>
            </div>
            <div class="fl-form__radio inline-block">
              <input type="radio" required name="adapt[no]" value="no" id="adapt-no-no">
              <label for="adapt-no-no">No</label>
            </div>
          </div>
        </div>
        <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[no]" data-flair-training-condition="yes">No, this is NOT appropriate!
        </div>
        <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[no]" data-flair-training-condition="no">Correct!
        </div>
      </div>
      <div class="column small-6 large-3 pt2">
        <div class="media-with-caption">
          <p>Sure I will help</p>
          <div class="aspect aspect--4-3">
            <%= image_tag 'training-adapt-yes.png', class:'media-with-caption__media', alt:'Training adapt yes' %>
          </div>
          <div class="media-with-caption__body pt1">
            <div class="fl-form__radio inline-block pr1">
              <input type="radio" required name="adapt[yes]" value="yes" id="adapt-yes-yes">
              <label for="adapt-yes-yes">Yes</label>
            </div>
            <div class="fl-form__radio inline-block">
              <input type="radio" required name="adapt[yes]" value="no" id="adapt-yes-no">
              <label for="adapt-yes-no">No</label>
            </div>
          </div>
        </div>
        <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[yes]" data-flair-training-condition="no">It's actually good to be helpful...
        </div>
        <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[yes]" data-flair-training-condition="yes">Correct!
        </div>
      </div>
      <div class="column small-6 large-3 pt2">
        <div class="media-with-caption">
          <p>Move but be stroppy</p>
          <div class="aspect aspect--4-3">
            <%= image_tag 'training-adapt-grumpy.png', class:'media-with-caption__media', alt:'Training adapt grumpy' %>
          </div>
          <div class="media-with-caption__body pt1">
            <div class="fl-form__radio inline-block pr1">
              <input type="radio" required name="adapt[grumpy]" value="yes" id="adapt-grumpy-yes">
              <label for="adapt-grumpy-yes">Yes</label>
            </div>
            <div class="fl-form__radio inline-block">
              <input type="radio" required name="adapt[grumpy]" value="no" id="adapt-grumpy-no">
              <label for="adapt-grumpy-no">No</label>
            </div>
          </div>
        </div>
        <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[grumpy]" data-flair-training-condition="yes">Are you sure this is a good attitude?
        </div>
        <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[grumpy]" data-flair-training-condition="no">Correct!
        </div>
      </div>
      <div class="column small-6 large-3 pt2">
        <div class="media-with-caption">
          <p>Feel sad - brave it out</p>
          <div class="aspect aspect--4-3">
            <%= image_tag 'training-adapt-brave.jpg', class:'media-with-caption__media', alt:'Training adapt brave' %>
          </div>
          <div class="media-with-caption__body pt1">
            <div class="fl-form__radio inline-block pr1">
              <input type="radio" required name="adapt[brave]" value="yes" id="adapt-brave-yes">
              <label for="adapt-brave-yes">Yes</label>
            </div>
            <div class="fl-form__radio inline-block">
              <input type="radio" required name="adapt[brave]" value="no" id="adapt-brave-no">
              <label for="adapt-brave-no">No</label>
            </div>
          </div>
        </div>
        <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[brave]" data-flair-training-condition="no">Bravery is actually a good attitude.
        </div>
        <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="adapt[brave]" data-flair-training-condition="yes">Correct!
        </div>
      </div>
    </div>
    <div class="fl-training__notice fl-training__notice--correct">
      Whilst it’s great to be able to work alongside people you know and are comfortable with, at the end of the day it is a job and we all have to work towards a common goal. This may mean moving to a different work area that is busier and needs more help
      on an event day. We are all one big team, no matter whether you knew your colleagues before or not.
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Discipline</h3>
      <p>There are two different types of discipline in the work place. The first comes from company rules and regulations whilst the other is a worker’s intrinsic self-discipline to stay focused and be committed to complete tasks.</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">10</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>In which circumstances do you feel it would be appropriate to leave a task unfinished? For each scenario indicate whether you agree (&nbsp;<i class="glyphicon glyphicon-thumbs-up fc-black"></i>&nbsp;) or disagree (&nbsp;<i class="glyphicon glyphicon-thumbs-down fc-black"></i>&nbsp;).</h5>
    </div>
    <div class="fl-training__table">
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>When requested to do so by your team leader</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="1" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="discipline" value="1" id="discipline-1">
              <label for="discipline-1">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="1" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>When your friend calls for a catch up</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="2" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="discipline" value="2" id="discipline-2">
              <label for="discipline-2">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="2" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>When you think that you are due a break</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="3" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="discipline" value="3" id="discipline-3">
              <label for="discipline-3">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="3" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fl-training__tr">
        <div class="fl-training__td grow-1">
          <p>If an emergency situation arises</p>
        </div>
        <div class="fl-training__td shrink-2">
          <div class="fl-form__toggle inline-block">
            <div class="inline-block toggle-label">
              <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="4" data-flair-training-condition="false">
                <i class="glyphicon glyphicon-remove"></i>
              </div>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            </div>
            <div class="fl-form__checkbox fl-form__checkbox--switch inline-block">
              <input type="checkbox" name="discipline" value="4" id="discipline-4">
              <label for="discipline-4">&nbsp;</label>
            </div>
            <div class="inline-block toggle-label">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon fl-icon-w1 inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="4" data-flair-training-condition="true">
                <i class="glyphicon glyphicon-ok"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Reliability</h3>
      <p>We offer temporary to regular work positions in the event industry. We fully understand life and how things can change either within our control our out of our control. Its the being let down with no notice we can't understand
        as this seems very unfair for the people we have turned away who would very much like the work. How concerned are you to being reliable for an employer?</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">11</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>Which do you think is the correct course of action to take if you cannot make it to an event?</h5>
      <ul class="list-unstyled">
        <li>
          <div class="fl-form__radio">
            <input type="radio" required name="reliable" value="a" id="reliable-a">
            <label for="reliable-a">Inform the office team as soon as you know you need to cancel</label>
          </div>
          <div class="fl-form__radio">
            <input type="radio" required name="reliable" value="b" id="reliable-b">
            <label for="reliable-b">Send an email first thing in the morning on the event day</label>
          </div>
          <div class="fl-form__radio">
            <input type="radio" required name="reliable" value="c" id="reliable-c">
            <label for="reliable-c">Leave it until the last minute and think of a believable excuse – failing transport is always a good one!</label>
          </div>
          <div class="fl-form__radio">
            <input type="radio" required name="reliable" value="d" id="reliable-d">
            <label for="reliable-d">Ask your friend working at the event to pass on the message when they get there</label>
          </div>
          <div class="fl-form__radio">
            <input type="radio" required name="reliable" value="e" id="reliable-e">
            <label for="reliable-e">Don't bother telling anyone, it's only a temp job</label>
          </div>
        </li>
      </ul>
      <div class="fl-training__notice fl-training__notice--correct" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="reliable" data-flair-training-condition="a">Correct!</div>
      <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="reliable" data-flair-training-condition="b">Try again :)</div>
      <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="reliable" data-flair-training-condition="c">Try again :)</div>
      <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="reliable" data-flair-training-condition="d">Try again :)</div>
      <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="radioValue" data-flair-training-eval-arg="reliable" data-flair-training-condition="e">Try again :)</div>
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Sense of team work</h3>
      <p>There will be plenty of times when you will be required to work as part of a team. Working as a team allows for more productivity and alternative solutions than when working alone. Regardless of the role you play, it is important
        to remember to do what is not only good for you, but also for the team as a whole.</p>
      <div class="fl-counter fl-counter--pull-left">
        <div class="fl-counter__current">12</div>
        <div class="fl-counter__total">of 12</div>
      </div>
      <h5>Your shift is due to end in 10 minutes and you have finished the work assigned to you. A colleague is still finishing their work. Select 2 option below which would demonstrate team work:</h5>
      <table>
        <tr>
          <td class="vertical-align-top">
            <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="a" data-flair-training-condition="true">
              <i class="glyphicon glyphicon-ok pr1"></i>
            </div>
          </td>
          <td>
            <div class="fl-form__checkbox">
              <input type="checkbox" name="team-work" value="a" id="team-work-a">
              <label for="team-work-a">Find a supervisor and let them know someone needs help</label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="vertical-align-top">
            <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="b" data-flair-training-condition="true">
              <i class="glyphicon glyphicon-remove pr1"></i>
            </div>
          </td>
          <td>
            <div class="fl-form__checkbox">
              <input type="checkbox" name="team-work" value="b" id="team-work-b">
              <label for="team-work-b">Let your colleague know you are leaving and tell them you hope they will finish soon </label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="vertical-align-top">
            <div class="fl-training__notice fl-training__notice--correct fl-training__notice--icon inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="c" data-flair-training-condition="true">
              <i class="glyphicon glyphicon-ok pr1"></i>
            </div>
          </td>
          <td>
            <div class="fl-form__checkbox">
              <input type="checkbox" name="team-work" value="c" id="team-work-c">
              <label for="team-work-c">Help your colleague so you they can get finished sooner</label>
            </div>
          </td>
        </tr>
        <tr>
          <td class="vertical-align-top">
            <div class="fl-training__notice fl-training__notice--wrong fl-training__notice--icon inline-block" data-flair-training-eval-function="checkboxChecked" data-flair-training-eval-arg="d" data-flair-training-condition="true">
              <i class="glyphicon glyphicon-remove pr1"></i>
            </div>
          </td>
          <td>
            <div class="fl-form__checkbox">
              <input type="checkbox" name="team-work" value="d" id="team-work-d">
              <label for="team-work-d">Say nothing and finish your shift at the planned time</label>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="fl-training__notice fl-training__notice--wrong" data-flair-training-eval-function="numberOfSelectedCheckboxesNot" data-flair-training-eval-arg="2" data-flair-training-condition="true">Please check 2 and only 2 boxes.</div>
    <div class="fl-training__notice fl-training__notice--correct">Remember their is no 'I' in team. Also makes you a nice person if you help others.</div>
  </div>
  <div class="fl-training__step fl-training__step--no-response-required">
    <div class="article">
      <h3>Summary</h3>
      <p>If working ethics are intrinsic, can employers train their work force to hold these values? Should employers be putting more effort into creating a working environment where all the team WANT to perform? How can they empower
        a team to strive to be the best?</p>
      <p>Strong working ethics start from the top. Here at Flair HQ we work hard for you, our team. We value you as our ‘customer’ and want to deliver the best service we can. We want to be proud of all our team members and we aim to
        be the company that you are proud to be representing.</p>
    </div>
  </div>
  <div class="fl-training__step">
    <div class="article">
      <h3>Finish</h3>
      <p>We covered your attributes, what motivations you and your reasons for working. To help describe working ethics we covered topics like; Inspirations, integrity, sense of responsibility, emphasis on quality, effort and adaptability.
        Discipline, reliability and sense of team work.</p>
      <p class="text-center"><%= image_tag 'training-enjoy-your-job.jpg' %></p>
    </div>
  </div>
</form>
