.command-bar
  .btn-toolbar
    .btn-group
      %button.btn.btn-default.command-link{:"data-command" => 'newRecord'} New
      %button.btn.btn-default.command-link.command-edit.disabled{:"data-command" => 'editSelectedRecord'} Edit
      %button.btn.btn-default.command-link.command-revert.disabled{:"data-command" => 'revert'} Revert
      %button.btn.btn-default.command-link.command-delete.disabled{:"data-command" => 'deleteRecord'} Delete
      %button.btn.btn-default.command-link{:"data-command" => 'clearFilters'} Clear Filters
    .btn-group
      %button.btn.btn-default.dropdown-toggle.command-link.command-report{:"data-toggle" => 'dropdown'}
        Report
        %span.caret
      %ul.dropdown-menu.report-dropdown
        - Report.where(table: 'invoices').sort_by(&:print_name).each do |report|
          %li
            %a{href: '#', :"data-report-name" => report.name}= report.print_name
  %div{style: 'clear:both'}

%hr
.filter-bar-container
  %form.filters.filter-bar{style: 'float:left'}
    %table
      %tr
        %th Client
        %th Event
        %th Status
        %th Tax Year
        %th Tax Week
      %tr
        %td= text_field_tag :search_client, '', class: 'form-control'
        %td= text_field_tag :search_event, '', class: 'form-control'
        %td= select_tag :status, options_for_select([['',''],['New','NEW'],['Emailed','EMAILED'],['Sage','SAGE']]), class: 'form-control'
        %td= select_tag :tax_year_id, '', class: 'form-control'
        %td= select_tag :tax_week_id, '', class: 'form-control'
%div{style: 'clear:both'}

%hr
.list-view
  .pagination-controls.pagination-bar{style: 'float:left'}
  %div{style: 'float:right'}
    %span.total-records
    |
    %a.refresh-data{href: 'javascript:void(0)'} Refresh
  %div{style: 'clear:both'}
  .record-list.record-list-applicants{tabindex: '0'}

  .report-download-dialog.modal.fade{style: 'display:none'}
    .modal-header
      %button.close{type: 'button', :"data-dismiss" => 'modal', :"aria-hidden" => 'true'}
        &times;
      %h3 Download Report
    .modal-body
      %a.download-xlsx{download: true}>
        %img{src: image_path('xlsx-icon.png'), width: 128, height: 128, alt: 'Excel'}>
      %a.download-csv{download: true}>
        %img{src: image_path('csv-icon.png'), width: 128, height: 128, alt: 'CSV'}>
      %a.download-pdf{download: true}>
        %img{src: image_path('pdf-icon.png'), width: 128, height: 128, alt: 'PDF'}>
    .modal-footer
      %a.btn.btn-default{href: '#', :"data-dismiss" => 'modal'} Cancel

= slideover_form 'record-new', partial: 'invoice_form', locals: { form_id: 'new_invoice', invoice: Invoice.new, type: 'new'}
= slideover_form 'record-edit', partial: 'invoice_form', locals: { form_id: 'edit_invoice', invoice: Invoice.new, type: 'edit' }