-#:javascript
-#  <a href="javascript:window.print();">Print</a>

//%a{href: "mailto:#{@email_address}?bcc=#{@office_email_address}&subject=#{@subject.html_safe}&body=#{@body.html_safe}"} Click here to open the following in your email program

//%a{href: "mailto:#{@email_address}?bcc=#{@office_email_address}&subject=#{@subject_urlencoded}&body=#{@body_urlencoded}"} Click here to open the following in your email program
//%p
.forgot_password_email_text
  - if @error
    #{@error}
  - else
    %b Email:
    #{@email_address}
    %p
    %b Subject:
    #{@subject}
    %p
    #{@body}
