<p><%= @name %>, here's your login link. After you log in, you can set your password again.</p>

<p><a href="<%= Flair::Application.config.base_https_url %>/set_password?token=<%= @token %>">Log me in so I can set my password</a></p>

<p>If you can't use the above link, you can cut-and-paste the following address into your browser's address bar:</p>

<p><%= Flair::Application.config.base_https_url %>/set_password?token=<%= @token %></p>

<%= render partial: 'signature' %>