<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <!-- <title>Flair Event Staffing</title> -->

  <%= yield :head %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">

  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>-->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "public.css", media: "all" %>
  <%= stylesheet_link_tag    "staff.css", media: "all" %>
  <%= javascript_include_tag "public.js" %>
  <%= javascript_include_tag "staff.js" %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex">



  <%# if request.referer != request.url %>
   <%# @ref =  request.referer.split('/').last %>
  <%# end %>


  <%# if request.referer.split('/').last == 'events' %>
<!--    <meta name="after_event" content="user from event">-->
  <%# end %>

  <%# if request.url.split('/').last == 'events' %>
<!--    <meta name="after_event" content="user from event">-->
    <%# @meta = 'event' %>
  <%# else %>
<!--    <meta name="no_event" content="user not from event">-->
    <%# @meta = 'no event' %>
  <%# end %>
  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '245996220334264');
      fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=245996220334264&ev=PageView&noscript=1"
    /></noscript>
  <!-- End Facebook Pixel Code -->

</head>

<body>

<%= render partial: 'v2/shared/flash_messages' %>

<%= yield %>
<%= yield :js %>

<%# <%= console if Rails.env.development? %>

</body>
</html>

