.public.forgot-password
  = render :partial => 'shared/nav'
  .content
    .content-spacer
    .content-inner
      .band-heading.row.expanded--restricted
        %h3 Forgot your password?
      .row.field.p2.expanded--restricted.align-center.translucent
        .column.small-12.medium-8.text-justify
          %p.mb1 No problem! Just enter your e-mail address and we'll send you a login link. After you log in, you can set a new password.
          = form_tag '/forgot_password' do
            %p
              = text_field_tag :email, '', autocapitalize: 'off', class: 'form-control', placeholder: 'email@example.com'
            %p.text-right
              = submit_tag 'Send login link', class: 'btn btn-default'
    .content-spacer
  .content-after
  = render :partial => 'footer'